---
---

{% include header.html %}

<div class="container">
<div class="row text-center pb-4">
            <h2 class="display-3 text-decoration-underline">Formación</h2>
          </div>
    <div class="row">
        <div class="col-3">
        <div class="flex-shrink-0 p-3">
    <div class="d-flex align-items-center pb-3 mb-3 border-bottom">
      <span class="goldiff fs-5 fw-semibold">Navegador</span>
</div>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="golding btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          Formación Académica
        </button>
        <div class="collapse" id="home-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#smr" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span class="blueing">Sistemas y Redes</span></a></li>
            <li><a href="#dam" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span class="blueing">Videojuegos</span></a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="golding btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Cursos en Plataformas Online
        </button>
        <div class="collapse" id="dashboard-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#udemy" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span class="blueing">Udemy</a></span></li>
            <li><a href="#frogames" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span class="blueing">Frogames</a></span></li>
            <li><a href="#openwebinars" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span class="blueing">OpenWebinars</span></a></li>
            <li><a href="#youtube" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span class="blueing">Youtube</a></span></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
    </ul>
  </div>
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <h2 class="h1">Formación Académica</h2>
                    <div class="container-fluid">
                        <div class="row pb-3">
                        <h3 id="smx">Grado Medio de Técnico en Sistemas Microinformáticos y Redes</h3>
                        <h4>Escola Pàlcam</h4>
                        <h5>[ 12 sep 2017 – 30 may 2019]</h5>
                        <h6> <a href="https://www.palcam.cat/es/" target="_blank">Ir a sitio Web</a></h6>
                        </div>

                        <div class="row pb-3">
                        <h3 id="asix">Grado Superior de Técnico Superior en Administración de Sistemas Informáticos y Redes</h3>
                        <h4>Escola Pàlcam</h4>
                        <h5>[ 12 sep 2019 – 10 jun 2021]</h5>
                        <h6> <a href="https://www.palcam.cat/es/" target="_blank">Ir a sitio Web</a></h6>
                        </div>
                        
                        <div class="row pb-5">
                        <h3 id="dam">Grado Superior de Videojuegos y Ocio Digital</h3>
                        <h4>IFP Hospitalet</h4>
                        <h5>[ 12 sep 2022 - 22 may 2024]</h5>
                        <h6> <a href="https://www.ifp.es/" target="_blank">Ir a sitio Web</a></h6>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h2 class="h1">Cursos en Plataformas Online</h2>
                    <div class="container-fluid">
                        <div class="row pb-4">
                            <div class="container-fluid">
                                <div class="row pb-3">
                                    <h2 class="platformTitle" id="udemy">Udemy</h2>
                                    <div class="container-fluid">
                                        <div class="row pb-2">
                                            <h3>SOLID y Clean Code para videojuegos en Unity</h3>
                                            <h5>Daniel Parra</h5>
                                            <h6> <a href="https://www.udemy.com/course/solid-y-clean-code-para-videojuegos/" target="_blank">Ir a sitio Web</a></h6>
                                        </div>
                                        <div class="row pb-2">
                                            <h3>Aprende a crear un videojuego RPG en 2D con Unity</h3>
                                            <h5>Gianny Dantas</h5>
                                            <h6> <a href="https://www.udemy.com/course/aprende-a-crear-un-videojuego-rpg-en-2d-con-unity-2021/?couponCode=ACCAGE0923?" target="_blank">Ir a sitio Web</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <h2 class="platformTitle" id="frogames">Frogames</h2>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <h3>Curso de desarrollo de videojuegos con Unity 2021</h3>
                                            <h5>Juan Gabriel Gomila</h5>
                                            <h6> <a href="https://cursos.frogamesformacion.com/courses/unity-2021" target="_blank">Ir a sitio Web</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <h2 class="platformTitle" id="openwebinars">OpenWebinars</h2>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <h3>Curso de Matemáticas para videojuegos con Unity</h3>
                                            <h5>David Erosa</h5>
                                            <h6> <a href="https://openwebinars.net/academia/portada/matematicas-unity/" target="_blank">Ir a sitio Web</a></h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pb-3">
                                    <h2 class="platformTitle" id="youtube">Youtube</h2>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <h3>Curso de Java desde 0 hasta avanzado</h3>
                                            <h5>Pildorasinformaticas</h5>
                                            <h6> <a href="https://www.youtube.com/playlist?list=PLU8oAlHdN5BktAXdEVCLUYzvDyqRQJ2lk" target="_blank">Ir a sitio Web</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/sidebars.js"></script>

{% include footer.html %}