---
layout: default
title: Index
---


{% include header.html %}
      
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row text-center pb-4">
            <h2 class="display-3 text-decoration-underline">Proyectos</h2>
          </div>    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="img/tapStrikers.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="TapStrikersPortada">
                <div class="card-body">
                  <h5 class="card-title gameTitle">TapStrikers</h5>
                  <p class="card-text">Embárcate en una emocionante aventura medieval con nuestro juego de carrera infinita: ¡TapStrikers! Corre sin parar mientras esquivas peligrosos obstáculos y desafías la gravedad. Rompe antiguas estatuas, derrota a enemigos despiadados y, finalmente, desafía al propio rey en esta épica misión.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://giseer.itch.io/tapstrikers" target="_blank"><button type="button" class="btn btn-sm btn-success">Download</button></a>
                      <a href="https://github.com/giseer/TapStrikers" target="_blank"><button type="button" class="btn btn-sm btn-light">GitHub</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="img/hiddenCrews.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="TapStrikersPortada">
                <div class="card-body">
                  <h5 class="card-title gameTitle">HiddenCrews</h5>
                  <p class="card-text">¡Prepárate para sumergirte en el oscuro submundo de Hidden Crews, donde la estrategia y la violencia se entrelazan en un emocionante juego de simulación de vida de bandas! Conviértete en el líder de tu propia banda y lucha por el dominio de la ciudad en este juego lleno de acción y desafíos.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://aadrii.itch.io/hidden-crews" target="_blank"><button type="button" class="btn btn-sm btn-success">Download</button></a>
                      <a href="https://github.com/giseer/HiddenCrews" target="_blank"><button type="button" class="btn btn-sm btn-light">GitHub</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="img/spaceRob.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="TapStrikersPortada">
                <div class="card-body">
                  <h5 class="card-title gameTitle">SpaceRob</h5>
                  <p class="card-text">¡Prepárate para explorar el emocionante universo de SpaceRob! Enfréntate a desafiantes enemigos y navega a través de intensas batallas en este juego inspirado en el clásico Asteroids. Conviértete en el héroe de tu propia aventura espacial y demuestra tus habilidades en un entorno lleno de acción y desafíos.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://play.google.com/store/apps/details?id=com.GISEER_GAMES.SpaceRob&hl=es_419" target="_blank"><button type="button" class="btn btn-sm btn-success">Download</button></a>
                      <a href="https://github.com/giseer/SpaceRob" target="_blank"><button type="button" class="btn btn-sm btn-light">GitHub</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="img/KnightNight.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="TapStrikersPortada">
                <div class="card-body">
                  <h5 class="card-title gameTitle">KnightNight</h5>
                  <p class="card-text">¡Adéntrate en el vibrante mundo de KnightNight! Este emocionante videojuego de plataformas es el resultado de un esfuerzo dedicado y la aplicación de habilidades avanzadas en su desarrollo. Prepárate para una aventura llena de desafíos y diversión.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-warning">Soon</button>
                      <a href="https://github.com/giseer/KnightNight" target="_blank"><button type="button" class="btn btn-sm btn-light">GitHub</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include footer.html %}
