<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-2 mb-4 border-bottom">
    <a href="{{ site.baseurl }}/index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ms-auto text-decoration-none">
      <svg class="bi me-2" width="60" height="48"><image href="{{ site.baseurl }}/img/gamepad.svg" width="60" height="48" /></svg>
      <h1 class="beaufort displaye">SERGI REBOLLO PORTFOLIO</h1>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{{ site.baseurl }}/index.html" class="nav-link">Proyectos</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/sobreMi.html" class="nav-link">Sobre mi</a></li>
      <li class="nav-item"><a href="https://github.com/giseer" target="_blank" class="nav-link">GitHub</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/formacion.html" class="nav-link">Formación</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/contacto.html" class="nav-link">Contacto</a></li>
    </ul>
  </header>
</div>
